<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXOtte_ZKj09vnEvjg1OF_tQGgoLEn5PA</string>
	<key>GCM_SENDER_ID</key>
	<string>705944414400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erayinal.InstagramCloneSPM</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-59b2b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-59b2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705944414400:ios:570643a325ebf5e0412525</string>
</dict>
</plist>